<div ng-controller="tic as t" id="parent" >
        <br>
        <h1 class="white" style="text-align:center;"><img src="{{t.user.photoURL}}" alt="loading" class="img-circle image">&nbsp;{{t.user.displayName}}&nbsp;&nbsp;Vs&nbsp;&nbsp;<img src="{{t.opponent.photoURL}}" alt="loading" class="img-circle image">&nbsp;{{t.opponent.displayName}}</h1> 
            <div id="child" >
                <h1 class="head">Tic Tac Toe</h1>
                <br>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 gray">.</div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 row gray">
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(0)">{{t.game.buttons[0].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(1)">{{t.game.buttons[1].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(2)">{{t.game.buttons[2].value}}</button>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 gray">.</div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 row gray">
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(3)">{{t.game.buttons[3].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(4)">{{t.game.buttons[4].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(5)">{{t.game.buttons[5].value}}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 gray">.</div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 row gray">
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(6)">{{t.game.buttons[6].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(7)">{{t.game.buttons[7].value}}</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary button" ng-click="t.changeState(8)">{{t.game.buttons[8].value}}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 gray" >.</div>
                </div>

            </div>
            
            <!-- <button class="btn btn-primary reset" ng-click="t.reset()">Reset</button> -->
            
        
            <!-- <br><br> -->
            <div style="text-align: center;" ng-if="t.game.win==0">
                <h1 style="color: white" ng-if="t.player==t.game.player">Your Turn</h1>
                <h1 style="color: white" ng-if="!t.player==t.game.player">{{t.opponent.displayName}}'s turn</h1>
            </div>
            <div style="text-align: center;" ng-if="t.game.win>0">
                <h1 style="color: white" ng-if="t.game.win==1&&t.player">You won!!</h1>
                <h1 style="color: white" ng-if="t.game.win==1&&!t.player">{{t.opponent.displayName}} won!!</h1>
                <h1 style="color: white" ng-if="t.game.win==2&&t.player">{{t.opponent.displayName}} won!!</h1>
                <h1 style="color: white" ng-if="t.game.win==2&&!t.player">You won!!</h1>
                <h1 style="color: white" ng-if="t.game.win==3">It's a tie!!</h1>
            </div>
        </div>
